<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Finlex</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
<!-- Search form -->
        <form class="ml-auto form-inline waves-light" mdbWavesEffect (ngSubmit)="search()">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search user" [formControl]="usersSearch">
            </div>
        </form>
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->