<div class="container-fluid px-4">
    <div class="row">
        <div class="w-100 d-flex justify-content-end">
            <a mdbBtn class="mr-0 mb-2" [rounded]="true" size="lg" color="primary" mdbWavesEffect (click)="createUser()">
                <mdb-icon fas icon="plus"></mdb-icon>
            </a>
        </div>
        <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
            <thead class="sticky-top">
                <tr>
                    <th *ngFor="let head of headElements; let i = index" scope="col">{{head | titlecase}}
                        <mdb-icon fas icon="sort"></mdb-icon>
                    </th>
                </tr>
            </thead>
            <tbody #row>
                <tr
                    *ngFor="let user of data?.data | paginate: { itemsPerPage: data?.per_page, currentPage: data?.page, totalItems: data?.total}">
                    <th scope="row">{{user.id}}
                    </th>
                    <td>
                        {{user.email}}
                    </td>
                    <td>
                        <img class="rounded-circle mr-3" width="40" height="40" alt="100x100" [src]="user.avatar"
                            data-holder-rendered="true">
                        {{user.firstName}}
                    </td>
                    <td>
                        {{user.lastName}}
                    </td>
                    <td>
                        <button mdbBtn color="warning" size="sm" mdbWavesEffect (click)="editUser(user)">
                            <mdb-icon fas icon="edit"></mdb-icon>
                        </button>
                        <button mdbBtn color="danger" size="sm" mdbWavesEffect (click)="removeRow(user)">
                            <mdb-icon fas icon="trash-alt"></mdb-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot class="grey lighten-5 w-100">
                <tr>
                    <td colspan="6">
                        <pagination-controls *ngIf="data" [maxSize]="data?.total" [directionLinks]="true"
                            [autoHide]="false" responsive="true" previousLabel="Previous" nextLabel="Next"
                            (pageChange)="pageChanged($event)" (pageBoundsCorrection)="pageChanged($event)"
                            screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                            screenReaderCurrentLabel="You're on page">
                        </pagination-controls>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>