<div class="container-fluid px-4">
    <div class="row">
      <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
        <thead class="sticky-top">
        <tr>
          <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements"
              [sortBy]="headElements[i]"
              scope="col">{{head | titlecase}}
            <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </tr>
        </thead>
        <tbody #row>
        <tr *ngFor="let el of elements; let i = index">
          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
              scope="row">{{el.id}}
          </th>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
            {{el.first}}
          </td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
            {{el.last}}
          </td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
            {{el.handle}}
          </td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
            <button mdbBtn color="warning" size="sm" mdbWavesEffect (click)="editRow(el)">Edit</button>
            <button mdbBtn color="danger" size="sm" mdbWavesEffect (click)="removeRow(el)">Remove</button>
          </td>
        </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="5">
            <mdb-table-pagination [tableEl]="tableEl" paginationAlign=""
                                  [searchDataSource]="elements"></mdb-table-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>